/**/*
/gulpfile.js
gulpfile.js
!/admin/**/*
!/admin/*
!/docs/*
!/docs/**/*
!/icon/*
!/icon/**/*
!/lib/**/*
!/lib/*
!/widgets/*
!/widgets/**/*
!/io-package.json
!/package.json
!/LICENSE
!/main.js
!/README.md
